<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="{{page.author}}">
    <meta name="keywords" content="{{page.keywords}}">
    <meta name="{{page.name}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="{{page.favicon}}" type="image/png" sizes="16x16">
    <title>{{page.title}}</title>
    {{> partials/head}}
  </head>
  </head>

  <body>
    {{> partials/scripts}}
  </body>

</html>